<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
     <!-- Bootstrap Core CSS -->
     <link href="/styles/css/bootstrap.min.css" rel="stylesheet">

     <!-- Custom CSS -->
     <link href="/css/simple-blog-template.css" rel="stylesheet">
     <link rel="stylesheet" href="/styles/index.css">
     <link rel="stylesheet" href="/styles/header.css">
     <link rel="stylesheet" href="/styles/footer.css">
    
    <title>Article</title>
</head>

<body>
    <header>
        <div class="logo-container">
            <img src="logo.png" alt="Logo" class="logo">
            <h1 class="company-name">A.Endale</h1>
        </div>
        <nav class="nav-links">
            <ul>
                <li><a href="/article">Article</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="https://wa.me/+251907424344">Contact</a></li>
                <li><a href="/support">Support</a></li>
                <li><a href="/booksell">Booksell</a></li>
            </ul>
        </nav>
    </header>