<%- include('header.ejs') %>



    <div class="main-container">
        
        <div class="News-Update">
            <p><a href="">News Update </a>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam saepe aliquid unde quo nesciunt deserunt quam assumenda commodi et architecto, minus pariatur officia tempore, explicabo ipsam ullam hic quis cum!</p>
        </div>
        <hr>

        <div class="blog">

            <div class="blog-image-container">
                <img src="/styles/image/2024-10-21 20.40.43.jpg" alt="" srcset="" class="bloge-img">
            </div>

            <div class="blog-post">
                <h2 class="blog-topic">Welcome to the Daily Blog </h2>
                <div class="blog-description">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero corporis voluptas fugiat, dignissimos fugit, sit quae cupiditate facere qui vel porro. Neque aliquid harum, ducimus iure cupiditate vitae quidem reiciendis.
                    Cum, dolore accusantium nesciunt accusamus modi exercitationem nostrum pariatur dolor recusandae nam vero iure molestias magnam, quia vitae in similique, nisi ipsum ullam delectus maiores voluptatibus quod iusto repudiandae! Nemo!
                    Eaque illo accusamus amet et perferendis mollitia veritatis officiis suscipit, necessitatibus possimus praesentium totam voluptate dolore iste blanditiis a porro corporis ullam temporibus? Quos modi, natus ipsa iure omnis adipisci?
                    Ex nesciunt expedita ullam qui tempore. Esse aliquam magni mollitia illo modi ut, optio ducimus consequatur atque placeat vel sunt! Placeat tempore minima adipisci perferendis? Sint temporibus quam expedita quos?</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero corporis voluptas fugiat, dignissimos fugit, sit quae cupiditate facere qui vel porro. Neque aliquid harum, ducimus iure cupiditate vitae quidem reiciendis.
                        Cum, dolore accusantium nesciunt accusamus modi exercitationem nostrum pariatur dolor recusandae nam vero iure molestias magnam, quia vitae in similique, nisi ipsum ullam delectus maiores voluptatibus quod iusto repudiandae! Nemo!
                        Eaque illo accusamus amet et perferendis mollitia veritatis officiis suscipit, necessitatibus possimus praesentium totam voluptate dolore iste blanditiis a porro corporis ullam temporibus? Quos modi, natus ipsa iure omnis adipisci?
                        Ex nesciunt expedita ullam qui tempore. Esse aliquam magni mollitia illo modi ut, optio ducimus consequatur atque placeat vel sunt! Placeat tempore minima adipisci perferendis? Sint temporibus quam expedita quos?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero corporis voluptas fugiat, dignissimos fugit, sit quae cupiditate facere qui vel porro. Neque aliquid harum, ducimus iure cupiditate vitae quidem reiciendis.
                            Cum, dolore accusantium nesciunt accusamus modi exercitationem nostrum pariatur dolor recusandae nam vero iure molestias magnam, quia vitae in similique, nisi ipsum ullam delectus maiores voluptatibus quod iusto repudiandae! Nemo!
                            Eaque illo accusamus amet et perferendis mollitia veritatis officiis suscipit, necessitatibus possimus praesentium totam voluptate dolore iste blanditiis a porro corporis ullam temporibus? Quos modi, natus ipsa iure omnis adipisci?
                            Ex nesciunt expedita ullam qui tempore. Esse aliquam magni mollitia illo modi ut, optio ducimus consequatur atque placeat vel sunt! Placeat tempore minima adipisci perferendis? Sint temporibus quam expedita quos?</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero corporis voluptas fugiat, dignissimos fugit, sit quae cupiditate facere qui vel porro. Neque aliquid harum, ducimus iure cupiditate vitae quidem reiciendis.
                                Cum, dolore accusantium nesciunt accusamus modi exercitationem nostrum pariatur dolor recusandae nam vero iure molestias magnam, quia vitae in similique, nisi ipsum ullam delectus maiores voluptatibus quod iusto repudiandae! Nemo!
                                Eaque illo accusamus amet et perferendis mollitia veritatis officiis suscipit, necessitatibus possimus praesentium totam voluptate dolore iste blanditiis a porro corporis ullam temporibus? Quos modi, natus ipsa iure omnis adipisci?
                                Ex nesciunt expedita ullam qui tempore. Esse aliquam magni mollitia illo modi ut, optio ducimus consequatur atque placeat vel sunt! Placeat tempore minima adipisci perferendis? Sint temporibus quam expedita quos?</p>
                </div>
            </div>
        </div>

    </div>



    
     <!-- Page Content -->
     <div class="container">

        <div class="row">
  
          <!-- Blog Entries Column -->
          <div class="col-md-12">
  
            <!-- First Blog Post -->
            <h2 class="post-title">
              <a href="/post">Blog Post Title</a>
            </h2>
            <p class="lead">
              by Author
            </p>
            <p><span class="glyphicon glyphicon-time"></span> Posted on August 28, 2013 at 10:00 PM</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, veritatis, tempora, necessitatibus inventore nisi quam quia repellat ut tempore laborum possimus eum dicta id animi corrupti debitis ipsum officiis rerum.</p>
            <a class="btn btn-default" href="post.html">Read More</a>
  
            <hr>
  
            <!-- Second Blog Post -->
            <h2 class="post-title">
              <a href="/post">Blog Post Title</a>
            </h2>
            <p class="lead">
              by Author
            </p>
            <p><span class="glyphicon glyphicon-time"></span> Posted on August 28, 2013 at 10:45 PM</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, quasi, fugiat, asperiores harum voluptatum tenetur a possimus nesciunt quod accusamus saepe tempora ipsam distinctio minima dolorum perferendis labore impedit voluptates!</p>
            <a class="btn btn-default" href="/post">Read More</a>
  
            <hr>
  
            <!-- Third Blog Post -->
            <h2 class="post-title">
              <a href="/post">Blog Post Title</a>
            </h2>
            <p class="lead">
              by Author
            </p>
            <p><span class="glyphicon glyphicon-time"></span> Posted on August 28, 2013 at 10:45 PM</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, voluptates, voluptas dolore ipsam cumque quam veniam accusantium laudantium adipisci architecto itaque dicta aperiam maiores provident id incidunt autem. Magni, ratione.</p>
            <a class="btn btn-default" href="post.html">Read More</a>
  
            <hr>
  
            <!-- Pager -->
            <ul class="pager">
              <li class="previous">
                <a href="/post">Prev</a>
              </li>
              <li class="next">
                <a href="/post">Next</a>
              </li>
            </ul>
  
          </div>
  
        </div>
        <!-- /.row -->
  
      </div>
      <!-- /.container -->





      <%- include('footer.ejs') %>








